<!DOCTYPE html>
<html>
<head>
	<style>
	#info {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	#info td, #info th {
		border: 1px solid #ddd;
		padding: 8px;
	}

	#info tr:nth-child(even){background-color: #f2f2f2;}

	#info tr:hover {background-color: #ddd;}

	#info th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #4CAF50;
		color: white;
	}

	#headerMenu td {
		padding-right: 10px;
		padding-left: 10px;
		text-align: center;
		background-color: #f2f2f2;
	}

	#headerMenu td:hover {
		background-color: #ddd;
	}

</style>
</head>
<body>
	<center>
		<div class="container">
			<h2>View App Open Results</h2>
			<table id = "headerMenu">
				<tr>
					<td><a href="https://wethoong-server.herokuapp.com/analytics/view/">View all</a></td>
					<td><a href="https://wethoong-server.herokuapp.com/analytics/app_open/">View app_open</a></td>
					<td><a href="https://wethoong-server.herokuapp.com/analytics/view_phantich/">View view_phantich</a></td>
				</tr>
			</table>
			<ul>
				<li><b>Number of action: </b>
					<%= userDetails.length%>
				</li>
			</ul>
			<br>
			<br>
			<table id = "info">
				<tr><td align="center">User's ID for Vendor</td><td align="center">Ads Id</td><td align="center">Device Name</td><td align="center">OS Name</td><td align="center">OS Version</td><td align="center">App Version</td><td align="center">App Version Number</td><td align="center">DB Version</td><td align="center">Open Count</td><td align="center">Timestamp</td></tr>
				<% userDetails.forEach(function(r) { %>
				<tr><td align="center"><%= r.idforvendor %> </td><td align="center"><%= r.adsid %> </td><td align="center"><%= r.devicename %> </td><td align="center"><%= r.osname %> </td><td align="center"><%= r.osversion %> </td><td align="center"><%= r.appversion %> </td><td align="center"><%= r.appversionnumber %> </td><td align="center"><%= r.dbversion %> </td><td align="center"><%= r.opencount %> </td><td align="center"><%= r.collectiondate %> </td></tr>
				<% }); %>
			</table>
		</div>
	</center>
</body>
</html>
