<!DOCTYPE html>
<html>
<head>
	<style>
	#info {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	#info td, #info th {
		border: 1px solid #ddd;
		padding: 8px;
	}

	#info tr:nth-child(even){background-color: #f2f2f2;}

	#info tr:hover {background-color: #ddd;}

	#info th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #4CAF50;
		color: white;
	}

	#headerMenu td {
		padding-right: 10px;
		padding-left: 10px;
		text-align: center;
		background-color: #f2f2f2;
	}

	#headerMenu td:hover {
		background-color: #ddd;
	}

	</style>
</head>
<body>
	<center>
		<div class="container">
			<h2>Phantich Details</h2>
			<table id = "headerMenu">
				<tr>
					<td><a href="https://wethoong-server.herokuapp.com/analytics/view/">View all</a></td>
					<td><a href="https://wethoong-server.herokuapp.com/analytics/app_open/">View app_open</a></td>
					<td><a href="https://wethoong-server.herokuapp.com/analytics/view_phantich/">View view_phantich</a></td>
					<td><a href = "https://wethoong-server.herokuapp.com/phantich/view/"> View all Phantich </a></td>
				</tr>
			</table>
			<ul>
				<li><b>Number of rows: </b>
					<%= phantich.length%>
				</li>
			</ul>
			<br>
			<br>

			<table id="info">
				<% phantich.forEach(function(r) { %>
				<% if(r.contentorder == 1) { %> 
				<tr>
					<td colspan= "5" align="center">
						<table border="1" cellpadding="5">
							<tr>
								<td align="center">Id Key</td>
								<td> <a href="https://wethoong-server.herokuapp.com/phantich/view/<%= r.id_key %>"><%= r.id_key %></a> </td>
							</tr>
							<tr>
								<td align="center">Author</td>
								<td> <%= r.author %></td>
							</tr>
							<tr>
								<td align="center">Title</td>
								<td> <%= r.title %></td>
							</tr>
							<tr>
								<td align="center">Short Description</td>
								<td> <%= r.shortdescription %></td>
							</tr>
							<tr>
								<td align="center">Source</td>
								<td> <a href="<%= r.source %>">View source</a></td>
							</tr>
							<tr>
								<td align="center">Source Inapp</td>
								<td> <a href="<%= r.source_inapp %>">View source</a></td>
							</tr>
							<tr>
								<td align="center">Revision</td>
								<td> <%= r.revision %></td>
							</tr>
							<tr>
								<td align="center">OpenCount</td>
								<td> <%= r.opencount %></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<th align="center">Content Order</th>
					<th align="center">Content</th>
					<th align="center">Minhhoa</th>
					<th align="center">Minhhoa Type</th>
					<th></th>
				</tr>
				<% } %>
				
				<tr>

					<td align="center"> <%= r.contentorder %></td>
					<td align="center"> <%= r.content %></td>
					<td align="center"> 
						<% if(r.minhhoa.length > 0) { %>
						<a href="<%= r.minhhoa %>">View Minhhoa</a> 
						<% } %>
					</td>
					<td align="center"> <%= r.minhhoatype %></td>
					<td align="center"> <img src="<%= r.minhhoa %>" width = "200"/></td>
				</tr>
				<% }); %>
			</table>
		</div>
	</center>
</body>
</html>