<!DOCTYPE html>
<html>
<head>
	<style>
	#info {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	#info td, #info th {
		border: 1px solid #ddd;
		padding: 8px;
	}

	#info tr:nth-child(even){background-color: #f2f2f2;}

	#info tr:hover {background-color: #ddd;}

	#info th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #4CAF50;
		color: white;
	}

	#headerMenu td {
		padding-right: 10px;
		padding-left: 10px;
		text-align: center;
		background-color: #f2f2f2;
	}

	#headerMenu td:hover {
		background-color: #ddd;
	}

	</style>
</head>
<body>
	<center>
		<div class="container">
			<h2>Analytics Results</h2>
			<table id = "headerMenu">
				<tr>
					<td><a href="https://wethoong-server.herokuapp.com/analytics/view/">View all</a></td>
					<td><a href="https://wethoong-server.herokuapp.com/analytics/app_open/">View app_open</a></td>
					<td><a href="https://wethoong-server.herokuapp.com/analytics/view_phantich/">View view_phantich</a></td>
					<td><a href = "https://wethoong-server.herokuapp.com/phantich/view/"> View all Phantich </a></td>
				</tr>
			</table>
			<ul>
				<li><b>Number of phantich: </b>
					<%= phantichCount.length%>
				</li>
			</ul>
			<br>
			<br>
			<table id = "info">
				<% var order = 1 %>
				<tr><th></th><th align="center">PhantichID</th><th align="center">Times of View</th><th align="center"></th></tr>
				<% phantichCount.forEach(function(r) { %>
				<tr><td><%= order%></td><td><%= r.actionvalue %> </td><td align="center"> <%= r.timesofaction %></td><td align="center"> <a href="https://wethoong-server.herokuapp.com/phantich/view/<%= r.actionvalue %>">View details</a></td></tr>
				<% order += 1 %>
				<% }); %>
			</table>
		</div>
	</center>
</body>
</html>