<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<center>
		<div class="container">
			<h2>Phantich Details</h2>
			<table>
				<tr>
					<td><a href="https://wethoong-server.herokuapp.com/analytics/view/">View all</a></td>
					<td><a href="https://wethoong-server.herokuapp.com/analytics/app_open/">View app_open</a></td>
					<td><a href="https://wethoong-server.herokuapp.com/analytics/view_phantich/">View view_phantich</a></td>
				</tr>
			</table>
			<ul>
				<li><b>Number of rows: </b>
					<%= phantich.length%>
				</li>
			</ul>
			<br>
			<br>

			<table border="1" cellpadding="5">
				<% phantich.forEach(function(r) { %>
				<% if(r.contentorder == 1) { %> 
				<tr>
					<td colspan= "5">
						<table border="1" cellpadding="5">
							<tr>
								<td align="center">Id Key</td>
								<td align="center"> <a href="https://wethoong-server.herokuapp.com/phantich/view/<%= r.id_key %>"><%= r.id_key %></a> </td>
							</tr>
							<tr>
								<td align="center">Author</td>
								<td align="center"> <%= r.author %></td>
							</tr>
							<tr>
								<td align="center">Title</td>
								<td align="center"> <%= r.title %></td>
							</tr>
							<tr>
								<td align="center">Short Description</td>
								<td align="center"> <%= r.shortdescription %></td>
							</tr>
							<tr>
								<td align="center">Source</td>
								<td align="center"> <a href="<%= r.source %>">View source</a></td>
							</tr>
							<tr>
								<td align="center">Source Inapp</td>
								<td align="center"> <a href="<%= r.source_inapp %>">View source</a></td>
							</tr>
							<tr>
								<td align="center">Revision</td>
								<td align="center"> <%= r.revision %></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="center">Content Order</td>
					<td align="center">Content</td>
					<td align="center">Minhhoa</td>
					<td align="center">Minhhoa Type</td>
					<td></td>
				</tr>
				<% } %>
				
				<tr>

					<td align="center"> <%= r.contentorder %></td>
					<td align="center"> <%= r.content %></td>
					<td align="center"> <a href="<%= r.minhhoa %>">View Minhhoa</a></td>
					<td align="center"> <%= r.minhhoatype %></td>
					<td align="center"> <img src="<%= r.minhhoa %>" width = "100"/></td>
				</tr>
				<% }); %>
			</table>
		</div>
		<a href = "https://wethoong-server.herokuapp.com/phantich/view/"> View all Phantich </a>
	</center>
</body>
</html>